## Google Gemini OpenAI Compatible Mode ##
spring:
  ai:
    openai:
      api-key: ${OPEN_AI_API_KEY}
      chat:
        options:
          model: gpt-4o
    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: always


