spring:
  application:
    name: spring-ai-02-chat-with-llms
  ai:
    openai:
      api-key: ${OPEN_AI_API_KEY}
      chat:
        options:
          model: gpt-4o


logging:
  level:
    org.springframework.ai.chat.client.advisor: DEBUG
